{:paths ["src" "resources"]
 :deps {techascent/tech.ml.dataset {:mvn/version "8.003"}
        org.clojure/clojure {:mvn/version "1.12.4"}}
 :aliases
 {:nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.5.2"}}
   :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]
   :extra-paths ["test"]}}}
