name: Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare java
        uses: actions/setup-java@v3.12.0
        with:
          distribution: 'liberica'
          java-version: '17'

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@11.0
        with:
          lein: 2.10.0

      - name: Cache clojure dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: cljdeps-${{ hashFiles('project.clj') }}
          restore-keys: cljdeps-

      - name: Install datajure
        run: lein install

      - name: Run tests
        run: lein test